<html>
  <head>
    <title>FontAwesome Helper</title>
    <link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:8080/bundle.css" />
  </head>
  <body>
      <div id="app" class="app">
      </div>
      <script src="http://localhost:8080/bundle.js"></script>
  </body>
</html>